extends layout

block content
    h1= 'Xpath-AGIW'
    p Welcome to Xpath-AGIW. Please use Chrome or Firefox.
    div(id='form', data-ng-controller='requests')
        div(class="form-group")
            span.file
                input#file.form-control.hidden(type='file', name='file', onchange="document.getElementById('file-text').value = lastElem(lastElem(this.value.split('/')).split('\\\\'));")
                input.btn.btn-default(type='button', onclick="document.getElementById('file').click();", value='Browse...')
                input#file-text.form-control.fakefile(type='text', title='file-text', onclick="document.getElementById('file').click();", readonly='')
            div
                a.btn.btn-primary(data-ng-click='import()')
                    strong Import JSON
        div(class="form-group")
            label Range
            div
                div(class="col-xs-1") from
                div(class="col-xs-2")
                    input(id='from', name='from', class="form-control", placeholder ='example: 2500', data-ng-model='from', value="{{from}}")
                div(style="clear:both")
                div(class="col-xs-1") to
                div(class="col-xs-2")
                    input(id='to', name='to', class="form-control", placeholder ='example: 2500', data-ng-model='to', value="{{to}}")
                div(style="clear:both")
                div
                    a.btn.btn-primary(data-ng-click='cutRange()', data-ng-disabled="hasNotLoadedJSON")
                        strong Cut Range
        div(style="clear:both")
        div(class="form-group")
            label(for='paths') Please insert the xpaths in JSON format (attributes and values must be between quotes)
            textarea(id='paths', name='paths', class="form-control", placeholder ='example: '
            + '\n{ '
            + '\n  "alibaba.com": { '
            + '\n                    "52-camera": [ '
            + '\n                            {'
            + '\n                               "rule": "//title/text()",'
            + '\n                               "attribute_name": "Titolo"'
            + '\n                            },'
            + '\n                            {'
            + '\n                               "rule": "//h1/text()",'
            + '\n                               "attribute_name": "h1" '
            + '\n                            }'
            + '\n                     ]'
            + '\n                  }'
            + '\n}', rows="6", cols="50", data-ng-model='paths') {{paths}}
        div(class="form-group")
            a.btn.btn-primary(data-ng-click='getData()', data-ng-disabled="hasNotCutJSON")
                strong Submit
            | &nbsp;
            input(type='button', value="Sort by URL", data-ng-click='sortBy("url")', class="btn btn-default")
            | &nbsp;
            input(type='button', value="Sort by attribute", data-ng-click='sortBy("message")', class="btn btn-default")
        div(class="label label-default") A correct output should be:
        br
        div(class="label label-default") attribute: [ path -> nodeLocalName ]:&nbsp;
            u first
            | Node
        br
        div(class="label label-default") NB: it will only output the FIRST node of that path
        br
        div(class="label label-default") Every output message should link to the source URL
        div(id='results', data-ng-repeat="result in results track by $index")
            div(class='label label-{{results[$index].outcome}}')
                a(href='{{results[$index].url}}', target='_new') {{results[$index].message}}