extends layout

block content
    h1= 'Xpath-AGIW'
    p Welcome to Xpath-AGIW. Please use Chrome or Firefox.
    div(id='form', data-ng-controller='requests')
        div(class="form-group")
            label(for='urls') Please insert the URLs separated by comma (URLs must be between quotes and the last URL is not to be followed by a comma)
            textarea(id='urls', name='urls', class="form-control", placeholder ='example: \n"https://www.amazon.it/Potter-maledizione-dellerede-speciale-Scriptbook/dp/8869187497/",' +
            ' \n"https://www.amazon.it/Sony-9858430-PlayStation-500-Chassis/dp/B010TNVS1W/"', rows="6", cols="50", data-ng-model='urls') {{urls}}
        div(class="form-group")
            label(for='paths') Please insert the xpaths in JSON format (attributes and values must be between quotes)
            textarea(id='paths', name='paths', class="form-control", placeholder ='example: \n{\n  "title": "//title", \n  "something": "//div[last()"]\n}', rows="6", cols="50", data-ng-model='paths') {{paths}}
        div(class="form-group")
            input(type='button', value="Submit", data-ng-click='testData()', class="btn btn-primary")
        div(class="label label-default") A correct output should be:
        br
        div(class="label label-default") attribute: [ path -> nodeLocalName ]:&nbsp;
            u first
            | Node
        br
        div(class="label label-default") NB: it will only output the FIRST node of that path
        br
        div(class="label label-default") Every output message should link to the source URL
        div(id='results', data-ng-repeat="result in results track by $index")
            div(class='label label-{{outcomes[$index]}}')
                a(href='{{sources[$index]}}', target='_new') {{results[$index]}}