doctype html
html
  head
    title= 'Xpath-AGIW'
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/vendor/jquery-1.11.3.min.js')
    script(src='/javascripts/vendor/bootstrap.min.js')
    script(src='/javascripts/vendor/angular.min.js')
    script(src='/javascripts/app.js')
    script(src='/javascripts/controllers/requests.js')
  body(data-ng-app='xpath')
    block content
